@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    font-size: 62.5%;
    --bg_color: #121214;
    --bg_color_card: #2A2634;
    --fc-title: #FFFFFF;
    --fc-description: #A1A1AA;
}

body{
    height: auto;
    
    background-image: url(./images/background.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-color: var(--bg_color);

}

main{
    max-width: 70rem;
    max-height: 85.4rem;
   
    margin:  3.2rem auto;

    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

header{
    text-align: center;
}
header img{
    border-radius: 50%;
    max-width: 120px;
    max-height: 120px;

    background-image: linear-gradient(180deg,#9572FC,#49DEB3,#E2D45C);
    padding: 4px;
    margin-bottom: 3.2rem;
}

.card-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.card{
    background-color: var(--bg_color_card);

    width: 100%;

    background: linear-gradient(#2a2634, #2a2634) padding-box,
    linear-gradient(90deg, #9572fc 0%, #43e7ad 50.52%, #e2d45c 100%);
    border-top: 4px solid transparent;
    border-radius: 2rem 2rem 0.8rem 0.8rem;
}

.card h1, p{
    padding: 1rem 2rem 0 ;
}

.card h1{
    color: var(--fc-title);
    font-family: 'Inter';
    font-size: 2.4rem;
    letter-spacing: 0.50px;
    margin-bottom: 0.5rem;
}

.card p{
    color: var(--fc-description);
    font-family: 'Inter';
    font-size: 1.6rem;
    font-weight: 400;
}

.card ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1.6rem;
    padding: 3rem;
}

.card img{
    border-radius: 0.8rem;
    transition: 1s;
    filter: brightness(0.7);
}

.card img:hover{
    cursor: pointer;
    scale: 1.1;
    transition: 0.5s;
    filter: brightness(1);
}

.card-wrapper div:nth-child(2) img{
    border-radius: 50px;
    border: 1px solid #443E54;
}

@media (max-width: 686px) {
    
    .card{
        text-align: center;
    }

    .card ul{
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       margin: 1rem auto;
       padding: 0;
       width: 90%;
    }

    .card-wrapper div:nth-child(3) ul{
        width: 30%;
    }

}
